@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primaryColor: #64DAFB;
  --gray1: #010607;
  --gray2: #1a1a1a;
  --gray3: #20232A;
  --gray4: #282C34;
  --gray5: #6D6D6D;
  --gray6: #aaa;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--gray3);
}

html::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 5rem;
}

html body {
  background: var(--gray3);
  padding-bottom: 6.5rem;
}

html section {
  padding: 5rem 9%;
}

h1, h2, h3 {
  font-weight: 700;
}

.home-min-height {
  min-height: calc(100vh - 6.5rem);
}

.home-img {
  height: 70%;
  width: 70%;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.flex-1-1-42 {
  flex: 1 1 42rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  html section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  html section {
    padding: 5rem 7%;
  }
}

@media (max-width: 768px) {
  .home-img {
    height: 30rem;
    width: 30rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

.skeleton {
  grid-area: 1/1;
  height: 100vw;
  background-image: linear-gradient( 90deg, var(--gray5) 0px, var(--gray6) 50%, var(--gray5) 100% );
  background-color: var(--gray5);
  background-size: 200%;
  animation: skeleton 1.5s infinite linear;
}


@keyframes skeleton {
  from {
    background-position: 0px;
  }
  to {
    background-position: -200%;
  }
}